<h1> Categories listing page </h1>
<%= image_tag 'amazonimages/category.png',width:'500px',height:'300px'%>

<%= render 'category' %>
<p><%= link_to 'products',products_path %></p>
<p><%= link_to 'back',root_path %></p>
